.counter {
  text-align: center;
  margin-top: 8px;
}

.wrapper {
  width: 170px;
  margin: 100px auto 10px auto;
}

.item {
  border: 1px solid grey;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  overflow: hidden;
  display: inline-block;
  margin-left: 4px;
}

.photo {
  width: 100%;
  height: 100%;
  visibility: hidden;
}

.show {
  visibility: visible;
  cursor: pointer;
}